* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainbox-device {
  height: 1080px;
  width: 2700px;
  background: url(../../assets/device/bg.svg);
}
.mainTitle {
  height: 122px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.content-box {
  float: left;
  overflow: hidden;
  height: 930px;
}
.titleContent {
  margin: 28px 20px 0 0;
}
.base-content {
  font-family: PingFangSC-Semibold;
  font-size: 46px;
  color: #F1F9FF;
  letter-spacing: 0;
  text-align: center;
  padding: 0 58px;
}
.base-title-icon {
  width: 165px!important;
  height: 39px!important;
  display: inline-block;
  &.left {
    background: url(../../assets/title_left.svg);
  }
  &.right {
    background: url(../../assets/title_right.svg);
  }
}
.device {
  width: 849px;
  height: 100%;
  padding: 0 0 0 19px;
}
.device-center {
  width: 1001px;
  height: 901px;
  // background: rgba(0,0,0,0.7);
  background: url(../../assets/device/frame.svg);
  padding: 30px 22px;
}
.device-chart {
  width: 100%;
  height: 33%;
  float: left;
  &.half {
    width: 50%;
  }
}
.echarts {
  height: 100%;
  width: 100%;
}
.sub-title {
  font-family: PingFangSC-Semibold;
  font-size: 20px;
  color: #9DB9FF;
  letter-spacing: 0;
  padding: 0 12px;
  font-weight: bold;
}
.analysis-content {
  padding: 0 12px;
  overflow: hidden;
  height: calc(100% - 30px);
}
.power-machine {
  float: left;
  width: 488px;
  height: 100%;
}
.H2S-analyzer {
  float: left;
  width: 315px;
  height: 100%;
  border-left: 1px solid rgba(40,47,72,0.7);
  padding-left: 61px;
}
.power-machine .title, .H2S-analyzer .title {
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #FAFCFF;
  letter-spacing: -0.2px;
  margin: 26px 0 18px;
}
.fLeft {
  float: left;
}
.image-box {
  border: 1px solid rgba(61,111,192,0.18);
  border-radius: 4px;
  width: 130px;
  height: 130px;
}
.image-box.power {
  background: rgba(16,44,108,0.18) url(../../assets/device/power.svg);
}
.image-box.analyzer {
  background: rgba(16,44,108,0.18) url(../../assets/device/analyzer.svg);
}
.power-image-desc {
  width: 130px;
  margin-top: 40px;
  li {
    font-family: 'MicrosoftYaHei';
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: -0.15px;
    font-size: 12px;
    margin: 0 30px 16px 0;
    text-align: right;
  }
}
.power-list {
  margin-left: 24px;
  width: 280px;
  li {
    width: 69.7px;
    height: 37px;
    background-image: linear-gradient(269deg, rgba(72,19,255,0.08) 0%, rgba(10,236,249,0.08) 100%);
    border: 1px solid rgba(255,255,255,0.08);
    line-height: 37px;
    text-align: center;
    float: left;
    font-size: 12px;
    letter-spacing: -0.15px;
    font-family: MicrosoftYaHei-Bold;
  }
  li.green {
    color: #6DD230;
  }
  li.red {
    color: #DD0000;
  }
  li.selected {
    border: 1px solid #4A68EA;
  }
}
.analyzer-detail {
  margin-top: 24px;
  li {
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: rgba(255,255,255,0.5);
    letter-spacing: -0.15px;
    text-align: left;
    line-height: 26px;
    span {
      color: rgba(141,221,251,1);
    }
  }
}
.more {
  text-align: right;
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 25px;
  span {
    display: inline-block;
    width: 70px;
    height: 21px;
    line-height: 21px;
    background: rgba(0,4,44,0.40);
    box-shadow: inset 0 0 10px 0 rgba(0,208,251,0.52);
    border-radius: 55px 100px 100px 100px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #9DDDF5;
    letter-spacing: -0.15px;
    text-align: center;
  }
}
.device-baseinfo {
  margin: 38px auto 0;
  width: 824px;
  overflow: hidden;
  li {
    width: 274px;
    height: 100px;
    float: left;
    border-right: 1px solid rgba(40,47,72,0.7);
    text-align: center; 
  }
  li:last-child {
    border: 0px;
  }
}
.device-baseinfo-title {
  text-align: center;
  color: rgba(224,235,254,0.5);
  font-family: PingFangSC-Regular;
  font-size: 20px;
  letter-spacing: -1px;
}
.device-baseinfo-box {
  line-height: 74px;
}
.device-baseinfo-number {
  font-family: DINAlternate-Bold;
  font-size: 64px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.device-baseinfo-number.red {
  color: #FF4A31;
}
.device-baseinfo-unit {
  font-family: PingFangSC-Semibold;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.device-baseinfo-unit.red {
  color: #FF4A31;
}
.device-baseinfo-count {
  text-align: left;
  padding: 0 51px;
  span.title {
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: rgba(224,235,254,0.5);
    letter-spacing: -1px;
    line-height: 51px;
    vertical-align: middle;
  }
  span.number {
    color: #E0EBFE;
    letter-spacing: -1.6px;
    font-size: 32px;
    margin-left: 24px;
    vertical-align: middle;
  }
}
.baseinfo-swiper {
  width: 890px;
  margin: 0 auto;
}