.box {
  margin: 0;
  width: 2700px;
  height: 1080px;
  background: url(../assets/production/bg.png);
  .title {
    padding-top: 45px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    text-shadow: 0 0 60px #007AFF;
  }
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 48px 0;
    .leftCont {
      width: 698px;
    }
    .centerCont {
      width: 1212px;
      height: 902px;
      background: url(../assets/production/chart.png);
    }
    .rightCont {
      width: 656px;
    }
  }
}
.safe {
	background: url(../assets/safe/bg.jpg);
}
.smtitle {
    margin: 8px 0 25px;
    font-size: 24px;
    color: #9DB9FF;
  }
//生产管控-重要运行参数
.block1 {
  width: 100%;
  // height: 520px;
  padding: 0 22px;
  .itemsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background:rgba(10,86,249,.05);
    .items {
      width: 128px;
      text-align: center;
      margin-bottom: 18px;
      p {
        font-size: 12px;
        height: 24px;
        line-height: 24px;
        color: #9cb2d6;
        background: rgba(16,44,108,.4);
      }
      span {
        height: 42px;
        line-height: 42px;
        font-size: 20px;
        color: #57B3FF;
      }
    }
  }
}
// 生产管控-操作运行
.block2 {
  width: 100%;
  padding: 25px 22px 0;
  .itemsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #31415B;
    border-left: 1px solid #31415B;
  }
  .itemBox {
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #31415B;
    border-right: 1px solid #31415B;
    height: 106px;
    width: 50%;
    .itemTitle {
      width: 56px;
      padding-left: 15px;
      text-align: center;
      writing-mode: vertical-lr;
      background: #102c6c;
      font-size: 14px;
      color: #9CB2D6;
      height: 100%;
    }
    .itemChart {
      width: 270px;
    }
  }
}
// 生产管控-center
.block3 {
  position: relative;
  .showBox {
    display: flex;
    justify-content: space-between;
    padding: 63px 110px 0;
    font-size: 16px;
    color: #9CB2D6;
    .items {
      .itemValue {
        font-size: 28px;
        .itemNum {
          font-size: 56px;
          color: #FFFFFF;
        }
      }
    }
  }
  .points {
    position: absolute;
    .norPoint {
      font-size: 14px;
      color: #FFFFFF;
      padding: 2px 12px 1px;
      background: rgba(90,200,250,0.20);
      border: 1px solid rgba(1,185,222,0.30);
      border-radius: 12px;
    }
    .spePoint {
      font-size: 14px;
      color: #9CB2D6;
      .progress {
        position: absolute;
        width: 10px;
        background: linear-gradient(270deg, #429321 0%, #72DD0D 100%);
      }
      .pointVal {
        font-size: 16px;
        .pointNum {
          color: #7BF970;
        }
      }
    }
  }
}
// 生产管理-车间
.block4 {
  width: 100%;
  .tabs {
    display: flex;
    font-size: 16px;
    color: #9CB2D6;
    .tabItem {
      transition: all .2s;
      width: 171px;
      height: 28px;
      line-height: 28px;
      font-size: 16px;
      color: #9CB2D6;
      text-align: center;
    }
    .choosed {
      font-size: 20px;
      color: #FFFFFF;
      background: url(../assets/production/tab_bg.svg);
    }
  }
  .centerTitle {
    margin: 25px 0 18px;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
  }
  .devicesBox {
    width: 606px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 12px;
    color: #9CB2D6;
    .perBox {
      position: relative;
      width: 466px;
      height: 12px;
      background: rgba(199,199,204,0.16);
      border-radius: 6px;
      .perCurr {
        transition: all .6s;
        position: absolute;
        top: 0;
        left: 0;
        height: 12px;
        border-radius: 6px;

      }
    }
    .perNum {
      font-size: 24px;
    }
  }
}

// 生产管理-样品分析
.block5 {
  width: 100%;
  color: #9CB2D6;
  .itemsBox {
    display: flex;
    justify-content: space-between;
    .chartBox {
      width: 132px;
      text-align: center;
      .chartTitle {
        font-size: 16px;
        padding: 30px 0 20px;
      }
    }
    .table {
      width: 500px;
      .tableHead {
        display: flex;
        height: 40px;
        line-height: 40px;
        background: rgba(16,44,108,.4);
        font-size: 14px;
        color: #9CB2D6;
        
      }
      .tableCont {
        width: 100%;
        height: 236px;
        overflow: hidden;
        .tableItem {
          background: rgba(16,44,108,.15);
          height: 46px;
          line-height: 46px;
          border-bottom: 1px solid #31415B;
          display: flex;
          .name {
            text-decoration: underline;
            color: #387DFF;
          }
          .hint {
            color: #9CB2D6;
          }
        }
      }
    }
  }
}

.tab1 {
  text-indent: 10px;
  width: 129px;
}
.tab2 {
  width: 128px;
}
.tab3 {
  width: 86px;
}
.tab4 {
  width: 56px;
}
.tab5 {
  margin-right: 14px;
}