.box {
  margin: 0;
  width: 2700px;
  height: 1080px;
  background-image: url(../../assets/smartInd/bg.png);
  background-size: 100% 100%;
  .topTitle {
    padding-top: 36px;
    text-align: center;
    color: #fff;
    font-size: 46px;
    text-shadow: 0 0 60px #007AFF;
  }
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 66px 0;
    .leftCont {
      width: 720px;
    }
    .centerCont {
      width: 1002px;
      height: 914px;
      background: url(../../assets/smartInd/centerBg.png);
    }
    .rightCont {
      width: 720px;
    }
  }
}

.centerCont {
  position: relative;
  .head {
    display: flex;
    justify-content: space-between;
    padding: 40px 140px 0;
    .headItem {
      text-align: center;
      .itemName {
        opacity: .5;
        font-size: 16px;
        color: #E0EBFE;
      }
      .itemVal {
        font-size: 64px;
      }
    }
  }
  .pointTab {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px 0;
    .pointItem {
      .tabNum {
        background-size: 100%;
        margin-bottom: 4px;
        text-align: center;
        height: 92px;
        width: 92px;
        line-height: 92px;
        font-size: 24px;
        color: #FFFFFF;
      }
      .tabName {
        text-align: center;
        opacity: 0.8;
        font-size: 14px;
        color: #FFFFFF;
      }
    }
  }
  .centerBanner {
    margin: 20px auto 0;
    width: 996px;
    height: 570px;
    background-repeat: no-repeat;
    background-image: url(../../assets/smartInd/工业园.png);
    background-size: 100%;
    .actionBtn {
      position: absolute;
      width: 34px;
      height: 34px;
      top: 358px;
      right: 13px;
    }
    .posIcon {
      position: absolute;
      width: 40px;
      height: 40px;
      .posBox {
        border-radius: 100%;
        animation: ripple 2s linear infinite;
        .tips {
          position: absolute;
          top: -5px;
          left: 43px;
          width: 168px;
          height: 109px;
          background-image: url(../../assets/smartInd/hoverBg.png);
          background-size: 100%;
          opacity: 0.7;
          .tipsItem {
            height: 20px;
            line-height: 20px;
            margin-top: 13px;
            margin-left: 13px;
            font-size: 14px;
            color: #FFFFFF;
            .name {
              display: inline-block;
              width: 100px;
              margin-right: 15px;
              text-align: right;
            }
          }
        }
      }
    }
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0px rgba(246, 88, 96, 0.2),
                0 0 0 18px rgba(246, 88, 96, 0.2),
                0 0 0 38px rgba(246, 88, 96, 0.2);
  }
  100% {
    box-shadow: 0 0 0 18px rgba(246, 88, 96, 0.2),
                0 0 0 38px rgba(246, 88, 96, 0.2),
                0 0 0 60px rgba(246, 88, 96, 0);
  }
}

.rightCont {
  .rHead {
    .headTitle {
      font-weight: 600;
      text-align: left;
      font-size: 20px;
      color: #9DB9FF;
    }
    .itemBox {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      justify-items: center;
      .chartCont {
        width: 145px;
        height: 154px;
      }
      .dataList {
        width: 498px;
        display: flex;
        flex-wrap: wrap;
        .dataItem {
          text-align: center;
          width: 25%;
          height: 73px;
          margin-bottom: 4px;
          background: rgba(16, 44, 108, .3);
          .itemName {
            margin: 14px 0 2px;
            font-size: 13.2px;
            color: #94B2CD;
          }
          .itemVal {
            font-size: 17.6px;
            color: #FFFFFF;
          }
        }
      }
    }
  }
  .rTips {
    margin-top: 38px;
    font-size: 20px;
    color: #9DB9FF;
    p {
      display: inline;
      span {
        margin-left: 10px;
        margin-right: 6px;
        font-size: 13.2px;
      }
      img {
        vertical-align: text-top;
      }
    }
  }
  .rTab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    .lineChart {
      height: 160px;
      width: 460px;
    }
    .energyList {
      .listItem {
        display: flex;
        // justify-content: space-between;
        justify-items: center;
        margin-top: 3px;
        height: 44px;
        line-height: 44px;
        width: 236px;
        background: rgba(16, 44, 108, .3);
        img {
          margin-left: 23px;
        }
        .itemName {
          margin-left: 17px;
          font-size: 15.4px;
          color: #588AB9;
        }
        .itemVal {
          margin-left: 10px;
          font-size: 19.8px;
          color: #41B9FF;
          span {
            font-size: 15.4px;
            color: #588AB9;
          }
        }
        .itemExtra {
          font-size: 12px;
          margin-left: 10px;
        }
      }
    }
    .barChart {
      margin-top: 36px;
      height: 240px;
      width: 460px;
    }
    .top3Box {
      margin-top: 36px;
      width: 240px;
      .top3 {
        width: 100%;
        height: 100%;
        .midTitle {
          font-weight: 600;
          margin: 15px 0 19px;
          font-size: 20px;
          color: #9DB9FF;
        }
        .barBox {
          margin-bottom: 13px;
          .barName {
            font-size: 12px;
            color: rgba(207,221,255, .5);
          }
          .barCont {
            display: flex;
            justify-content: space-between;
            .bar {
              position: relative;
              height: 18px;
              width: 200px;
              background: rgba(216,216,216,.3);
              .mask {
                position: absolute;
                z-index: 10;
                height: 18px;
                width: 200px;
                background-image: url(../../assets/smartInd/形状结合.svg);
              }
              .perBar {
                position: absolute;
                z-index: 1;
                left: 0;
                top: 0;
                height: 18px;
                background-image: linear-gradient(270deg, #0AECF9 0%, #4813FF 100%);
              }
            }
            .times {
              height: 18px;
              line-height: 18px;
              font-size: 12px;
              color: rgba(200,216,255,.8);
              span {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .noticeBox {
    margin-top: 30px;
    .notiTitle {
      text-align: left;
      font-size: 20px;
      color: #9DB9FF;
      margin-bottom: 15px;
    }
    .noticeList {
      opacity: .8;
      font-size: 14px;
      color: #CFDDFF;
      .item {
        height: 33px;
        line-height: 33px;
        display: flex;
        background: rgba(16, 44, 108, .3);
        justify-content: space-between;
        border-bottom: 1px solid #192444;
        .itemContent {
          margin-left: 26px;
        }
        .itemDate {
          margin-right: 50px;
        }
      }
    }
  }
}

.leftCont {
  .iconBox {
    display: flex;
    justify-content: space-between;
    .iconItem {
      height: 78.5px;
      width: 78.5px;
    }
  }
  .chartBox {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    .lineChart {
      width: 448px;
      height: 225px;
    }
    .pieChart {
      width: 246px;
      height: 225px;
    }
  }
  .companyBox {
    width: 100%;
    margin-top: 42px;
    .title {
      font-weight: 600;
      text-align: left;
      font-size: 20px;
      color: #9DB9FF;
    }
    .more {
      width: 69px;
      height: 20px;
      line-height: 20px;
      float: right;
      font-size: 12px;
      text-align: center;
      color: #9DDDF5;
      background: rgba(0, 4, 44, 0.4);
      box-shadow: inset 0 0 6px 0 rgba(0, 208, 251, 0.4);
      border-radius: 10px;
    }
    .companyList {
      margin-top: 10px;
      text-align: left;
      .companyHead {
        width: 100%;
        height: 24px;
        line-height: 24px;
        background-image: linear-gradient(269deg, rgba(72,19,255,.1) 0%, rgba(10,236,249,.1) 100%);
        font-size: 12px;
        color: #677AA4;
        .name {
          display: inline-block;
          width: 45%;
          text-indent: 25px;
        }
        .risk {
          display: inline-block;
          width: 40%;
        }
        .point {
          display: inline-block;
          width: 15%;
        }
      }
      .listItem {
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        color: #677AA4;
        background: rgba(16, 44, 108, .15);
        border-bottom: 1px solid rgba(25, 36, 68, .7);
        .name {
          display: inline-block;
          width: 45%;
          text-indent: 25px;
        }
        .risk {
          width: 94px;
          display: inline-flex;
          justify-content: space-between;
        }
        .point {
          margin-left: 188px;
          text-indent: 17px;
          display: inline-block;
          width: 15%;
        }
      }
    }
  }
  .leftBanner {
    position: relative;
    margin-top: 42px;
    width: 100%;
    height: 260px;
    background-image: url(../../assets/smartInd/cjnj.jpg);
    background-size: 100% 100%;
    .name {
      height: 25px;
      width: 100px;
      line-height: 25px;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 4, 44, 0.6);
      font-size: 20px;
      color: #9DB9FF;
      text-align: center;
    }
    .more {
      width: 69px;
      height: 20px;
      line-height: 20px;
      position: absolute;
      top: 3px;
      right: 3px;
      font-size: 12px;
      color: #9DDDF5;
      text-align: center;
      background: rgba(0, 4, 44, 0.6);
      border-radius: 10px;
    }
  }
}

.bold {
  font-weight: 600;
}
